<div data-ng-controller="UsersCtrl">
  <div data-ng-hide="existingUser">
    <div><h4>Create a new user account:</h4></div>
    <form name="newUser">
      <input type="text" data-ng-model="newUser.email" placeholder="email">
      <input type="password" data-ng-model="newUser.password" placeholder="password">
      <input type="password" data-ng-model="newUser.passwordConfirmation" placeholder="confirm password">
      <button data-ng-click="signUp()">Create New User</button>
    </form>
  </div>
  <div data-ng-show="existingUser">
    <div><h4>Sign in if you are an existing user:</h4></div>
    <form name="userForm">
      <input type="text" data-ng-model="user.email" placeholder="email">
      <input type="password" data-ng-model="user.password" placeholder="password">
      <button data-ng-click="signIn()">Sign In</button>
    </form>
  </div>
  <div><h4>OR</h4></div>
  <button data-ng-click="existingUser = !existingUser">{{existingUser ? 'Create New User' : 'Log in to existing account'}}</button>
</div>
